    
  
    
   .container{
       width: 75%;
   }


    .nav li{
        padding: 10px 10px;
        list-style: none;
        text-decoration: none;
        position: relative;
        marker:none;
    }
    
    button:hover{
        cursor:pointer;
        background-color: green;
    }
    
    tr:hover{
        background-color: cadetblue;
    }
    table, th, td {
    border: 1px solid black;
   
  }

 th, td {
    padding: 15px;
 }


 .tab1 {
     float: right;
 }

 .tab2{
     margin-left: 50px;
 }

 .tab2 input{
     display:flex;
     padding-left: 50px;
 }

